body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.bigtitle{
  font-size: 4em;
  font-style: normal;
  font-family: 'Muli';
  font-weight: 700;
  color: white;
  text-align: left;
  padding-left: 1em;
}

.h3{
  color: #263E99;
  font-weight: 700;
}

.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 0px;
  margin: 30px 30px 30px 30px;
  text-align: center;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[name="inputFirstname"] {
  margin-bottom: 0px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[name="inputLastname"] {
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.form-signin input[name="inputEmail"] {
  margin-bottom: 10px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.form-signin input[name="inputPassword"] {
  margin-bottom: 0px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[name="inputPasswordCheck"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.jumbotron{
  padding: 0;
  margin-right: 5em;
  margin-bottom: 0em;
  display:flex;
  max-width: 400px;
}
